div.testclass{
	background-color:#ffae2e;
	border-width:2px;
	border-color:#999999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	margin-left: auto ;
	margin-right: auto ;
	width: 150px;
	height: 100px;
}
